.card{
  background-color: rgba(93, 114, 109, 0.068);
  padding: 10px;
  margin: 5px 30px 30px 30px;
  width: 260px;
  border-radius: 20px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
img{
  padding-top: 10px;
}
.fav{
    background: rgba(136, 136, 136, 0.116);
    padding: 10px;
    border: 1px;
    width: 50%;
    cursor: pointer;
    border-radius: 2rem;
  }

.fav:hover {
  background: #fff;
  color: #4433ff
}
.name{
  margin-top: 5px;
  font-size: 20px;
  color: #345d99;
  font-weight: 750;
}
.userName{
  font-weight: 500;
  font-size: 15px;
}
