form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;

  margin: 0 auto;
  padding-top: 20px;
}
label {
  font-weight: 500;
  width: 100%;
}

input {
  width: 100%;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.send{
  background: #b7c8d3;
  padding: 10px;
  border: 1px;
  width: 40%;
  cursor: pointer;
  border-radius: 2rem;
  transition: all 0.3s ease;
  border-style: none;
}
.send:hover {
background: #619ea7;
color: #fafafd
}
.msj{
  padding-top: 150px;
}
