
  .navBar{
    gap: 60px;
  }
  .navBarLink {
    text-decoration: none;
    padding: 10px;
    border-radius: 9px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-weight: 700;
  }
  
  .btnStyle {
    width: 70px;
    text-align: center;
    height: 40px;
    padding: 5px;
    background: #b7c8d3;
    cursor: pointer;
    transition: all 0.3s ease;
    border-style: none;
    border-radius: 20px;
  }
  .btnStyle:hover {
    background: #619ea7;
    color: #fafafd
    }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 40px 20px 0px;    
  }
  
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
  }

