
  .btnStyle {
    width: 70px;
    text-align: center;
    height: 40px;
    padding: 5px;
    background: #b7c8d3;
    cursor: pointer;
    transition: all 0.3s ease;
    border-style: none;
    border-radius: 20px;
  }
  .btnStyle:hover {
    background: #619ea7;
    color: #fafafd
    }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 15px 5px 0px;
    border-bottom: 1px solid rgb(115, 166, 179); /* agregar un borde inferior de 1px de ancho */
    box-shadow: 0 2px 8px rgb(115, 166, 179); /* agregar una sombra en la parte inferior */
  }
  
  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
  }
  .po{
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  }

  main {
    margin-top: 50px;
  }

