table {
  border-collapse: collapse;
     border-spacing: 0;
     width: 80%;
     display: table;
     border: 2px solid #ccc;
 }
 td{
  width: 300px;
 }
 thead tr th {
   border: 1px solid #dddddd;
   text-align: left;
   padding: 8px;
   text-align: center;
 }
 tbody tr td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: center;
}
.divTable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}